@use "../../assets/scss/"as *;

.hero__slide {
    margin-top: -90px;
}

.hero__slide-item {
    width: 100%;
    height: 1000px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 400px;
        background-image: linear-gradient(to top, $background-color, rgba(#000, 0));
    }

    &__content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    &__bungkus {
        display: flex;
        flex-direction: row;
        gap: 40px;
        max-height: 100%;
    }

    &_poster {
        max-width: 320px;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        justify-self: center;
        align-items: center;
        text-decoration: none;
        z-index: 1;

        img {
            transform: scale(0);
            transition: transform 0.7s ease;
        }
    }

    &_info {
        width: 540px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        z-index: 1;

        .btns {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            gap: 20px;
            z-index: 1;
        }

        .btns {
            opacity: 0;
            transform: translateY(-100px);
            transition: transform 0.5s ease, opacity 0.5s ease;
        }
    }

    &_info-bungkus {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .overview {
            font-size: 16px;
            line-height: 30px;
            font-weight: 400;
            text-align: justify;
            width: 100%;
        }

        .title {
            font-size: 45px;
            z-index: 1;
        }

        .title,
        .overview,
        .genre,
        .images_title {
            opacity: 0;
            transform: translateY(-100px);
            transition: transform 0.5s ease, opacity 0.5s ease;
        }

        .images_title {
            z-index: 1;
            max-width: 650px;
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 240px;

            img {
                height: 100%;
            }
        }

        .genre {
            display: grid;
            grid-template-columns: repeat(4, auto);
            gap: 20px;
            justify-content: flex-start;

            &_item__content {
                display: flex;
                background: rgb(255, 255, 255, 0.4);
                border-radius: 8px;
                justify-content: center;
                align-items: center;
                height: 30px;
                color: rgb(34, 34, 34);
                font-size: 14px;
                font-weight: 500;
            }

            &_item__content_p {
                display: inline-block;
                font-size: 12px;
                font-weight: 500;
                color: #000;
                padding-right: 14px;
                padding-left: 14px;

                &_text {
                    display: inline;
                    font-size: 13px;
                    margin-left: 3px;
                    color: #000;
                }

            }
        }
    }

    &.active>&__content>&__bungkus>&_poster {
        img {
            transform: scale(1);
        }
    }

    &.active>&__content &__bungkus>&_info>&_info-bungkus {

        .images_title,
        .genre,
        .title,
        .overview {
            opacity: 1;
            transform: translateY(0);
        }

        .images_title {
            transition-delay: 0.2s, 0.2s;
        }

        .title {
            transition-delay: 0.3s, 0.3s;
        }

        .overview {
            transition-delay: 0.6s, 0.6s;
        }

        .genre {
            transition-delay: 0.7s, 0.7s;
        }
    }

    &.active>&__content &__bungkus>&_info> {

        .btns {
            opacity: 1;
            transform: translateY(0);
        }

        .btns {
            transition-delay: 0.9s, 0.9s;
        }
    }

}

.modal__content {
    margin: auto;
}